.about {
  background-color: #ebebeb;
  padding-top: 4rem;
  padding-bottom: 3rem;
  font-family: $secondary-font;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media all and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__image-wrapper {
    position: relative;

    @media all and (min-width: 768px) {
      width: 35%;
    }
  }

  &__img-content {
    position: absolute;
    top: 4.7rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  &__img {
    margin-bottom: 4rem;
  }

  &__title {
    font-family: $base-font;
    color: #fefbfc;
    font-size: 2.246rem;
    font-weight: 600;
    line-height: 1.67;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__icon {
    margin-bottom: 2.75rem;
    cursor: pointer;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width: 768px) {
      width: 56%;
    }
  }

  &__text {
    font-size: 1.15rem;
    font-weight: 400;

    br {
      display: none;

      @media all and (min-width: 1115px) {
        display: block;
      }
    }

    &--top {
      margin-bottom: 2rem;
    }

    &--bottom {
      padding-bottom: 2rem;
    }

    &--inner {
      color: #665f60;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  &__button {
    font-size: 1.25rem;
    font-style: italic;
    text-align: center;
    color: #7d7a7c;
    
    &:hover{
      color: #9f9acf;
      background-color: #FFF;
      border: 1px solid #9f9acf;
    }
  }
}


