.scroll{
   position: absolute;
   right: 0rem;
   bottom: 2rem;

   @media all and (min-width: 1024px){
       right: 7rem;
       bottom: 4rem;
   }
   
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9f9acf;
        padding: 1.7rem;
        cursor: pointer;
        border: 1px solid transparent;
        opacity: 0.3;

        &:hover{
            border: 1px solid white;
            opacity: 1;
        }
    }

}