.dots {
  text-align: center;
}

.dots li {
  background-color: #ebebeb;
  width: 11px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ebebeb;

  @media all and (min-width: 768px) {
    padding: 7px;
  }

  &:hover {
    background-color: #9f9acf;
  }
}

.dots li button {
  display: none;
}

.dots .slick-active {
  background-color: transparent;
  width: 11px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  padding: 5px;

  @media all and (min-width: 768px) {
    padding: 7px;
  }
}

